{{!-- <li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>
{{#if sleep}}Devour it!{{/if}}
	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li> --}}

<li>
		{{!-- <button class="devour-burger" data-id="{{this.id}}" data-newdevour={{devour}}>
				{{#if devour}}Devour it!{{else}}Done Eating!{{/if}}</button> --}}

	{{!-- <button class="devour-burger" data-id="{{this.id}}" data-burgername ="{{this.burger_name}} " data-newdevoured="true">
				Devour it!</button> --}}
	{{!-- <button class="devour-burger" data-id="{{this.id}}" data-burgername ="{{this.burger_name}} " data-newdevoured="1">
				Devour it!</button> --}}
				      {{this.id}}. {{this.burger_name}}

    	<button class="devour-burger" data-id="{{this.id}}" data-burgername ="{{this.burger_name}} " data-newdevour="{{devour}}">
				Devour it !</button>
    
</li>
