{{!-- <li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>
{{#if sleep}}Devour it!{{/if}}
	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li> --}}

<li>
				      {{id}}. {{burger_name}}

    	<button class="devour-burger" data-id="{{id}}" data-burgername ="{{burger_name}} " data-newdevour="{{devour}}">
				Devour it !</button>
    
</li>
